body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#title {
    text-align: center;
}

.campos-numericos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

input[type=number] {
    /* Estilo de texto de input */
    font-size: 24px;
    text-align: center;
    /* Estilo de caja input */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 103px;
    margin: 6px;
    border: solid 1px gray;
}

input[type=number]:focus {
    border: solid 2px black;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.operadores {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

#boton-suma, #boton-resta, #boton-multiplica, #boton-divide {
    width: 54px;
    height: 54px;
    margin: 3px;
    font-size: 24px;
    font-style: bold;
    text-align: center;
}

.resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#texto-resultado {
    font-size: 24px;
    font-style: bold;
    text-align: center;
}

#valor-resultado {
    font-size: 48px;
    font-style: bold;
    text-align: center;
}